@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  height: -webkit-fill-available;
}
/* 
body {
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
} */

@supports (-webkit-touch-callout: none) {
  height: -webkit-fill-available;
}

::-webkit-scrollbar {
  display: none;
}
